.container{
    width: auto;
    border: grey 1px solid;
    padding-top: 4%;
}
.row{
    margin-left: 4%;
    margin-bottom: 4%;
    width: 28%;
    height: 0;
    background-color: rgb(255,166,0);
    float: left;
    border-radius: 5%;
    padding-bottom: 28%;
}
.clear{
    clear: both;
}